.customLegendContainer {
  display: flex;
  align-items: center;

  .color {
    min-width: 12px;
    min-height: 12px;
    border-radius: 50%;
  }

  .description {
    width: fit-content;

    @include ellipsis;

    color: $sub-color3;
    font-size: 12px;
  }

  .bar {
    margin-left: 10px;
  }

  .doughnut {
    width: 53px;
    margin-left: 7px;
  }
}
