.button {
  background-color: $sub-color1;

  @include typo(14);

  &.small {
    padding: 5px 10px;
    border-radius: 100px;
    color: $primary-black;
  }

  &.large {
    width: 114px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    color: $point-color-blue4;
  }
}
