.dropdownContainer {
  @include flexbox(column, center, center) display: flex;

  width: 100%;
  height: 100%;

  .dropdownValueContainer {
    position: relative;
    width: 89px;
    border: 1px solid $sub-color3;
    border-radius: 8px;

    .userInput {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      max-height: 40px;
      padding: 11px 16px 11px 12px;
      overflow: hidden;
      text-align: start;

      @include typo(12);

      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
    }

    .userInput.withSearchBar {
      width: 89px;
      max-width: 89px;
      height: 40px;
      border-radius: 8px 0 0 8px;
    }

    .toggle {
      position: absolute;
      top: 15px;
      right: 5px;
      width: 15px;
      height: 8px;
      fill: $sub-color3;
      cursor: pointer;
    }

    &.dark {
      width: 100%;
      max-width: 139px;
      background-color: $primary-black;
      color: $primary-white;
    }

    .withSearchBar {
      width: 100%;
      max-width: 348px;
      height: 100%;
      max-height: 47px;
      border: 1px solid $sub-color1;
      border-radius: 8px 0 0 8px;
    }
  }

  .dropdownWrapper {
    position: relative;
    z-index: 1;
    width: 127px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 11%);

    .select {
      position: relative;
      width: 100%;
      height: 44px;
      border-radius: 8px;
      background-color: $primary-white;

      &:hover {
        background-color: $point-color-blue1;
        color: $point-color-blue3;
      }
    }

    .select input[type="radio"] {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      margin: 0;
      opacity: 0;
      cursor: pointer;
    }

    .select label {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 13px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
      cursor: pointer;

      @include typo(12);
    }

    .searchBarContainer {
      position: relative;
      margin-bottom: 9px;

      .searchDropdownSearchInput {
        width: 100%;
        height: 30px;
        padding: 11px 25px 11px 12px;

        @include typo(12);

        border: 1px solid $sub-color1;
        border-radius: 6px;
      }

      .searchDropdownSearchImage {
        position: absolute;
        top: 8px;
        right: 10px;
      }
    }

    &.dark {
      width: 100%;
      max-width: 171px;
      height: 196px;
      overflow-y: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &.withSearchBar {
      width: 100%;
      max-width: 347px;
      height: 251px;
      overflow-y: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
