.dropdownContainer {
  position: relative;
  height: 40px;

  .dropdownValueContainer {
    height: 40px;
    border: 1px solid $sub-color1;
    border-radius: 8px;

    .selectedValue {
      display: flex;
      align-items: center;
      width: 89px;
      height: 40px;
      padding: 11px 20px 11px 12px;
      text-align: start;

      @include typo(12);
      @include ellipsis;

      &.hasSearchBar {
        width: 100%;
        height: 47px;
      }
    }

    .toggle {
      position: absolute;
      top: 15px;
      right: 5px;
      width: 15px;
      height: 8px;
      fill: $sub-color3;
      cursor: pointer;
    }

    &.dark {
      width: 139px;
      background-color: $primary-black;
      color: $primary-white;
    }

    &.withSearchBar {
      border: 1px solid $sub-color1;
      border-radius: 8px 0 0 8px;
    }

    &.hasSearchBar {
      width: 348px;
      height: 47px;
      border: none;
      background-color: $sub-color1;
      color: $sub-color5;

      .toggle {
        top: 20px;
        right: 10px;
      }
    }
  }

  .dropdownListWrapper {
    position: absolute;
    z-index: 1;
    top: 47px;
    left: 50%;
    width: 127px;
    padding: 10px;
    transform: translateX(-50%);
    border-radius: 6px;
    background-color: $primary-white;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 11%);

    .select {
      position: relative;
      width: 100%;
      height: 44px;
      border-radius: 8px;
      background-color: $primary-white;

      &:hover {
        background-color: $point-color-blue1;
        color: $point-color-blue3;
      }
    }

    .select input[type="radio"] {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      margin: 0;
      opacity: 0;
      cursor: pointer;
    }

    .select label {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 14px 10px;

      @include ellipsis;

      cursor: pointer;

      @include typo(12);
    }

    .searchBarContainer {
      position: relative;
      margin-bottom: 9px;

      .searchDropdownSearchInput {
        width: 100%;
        height: 30px;
        padding: 11px 25px 11px 12px;

        @include typo(12);

        border: 1px solid $sub-color1;
        border-radius: 6px;

        &::placeholder {
          color: $sub-color5;
        }
      }

      .searchDropdownSearchImage {
        position: absolute;
        top: 8px;
        right: 10px;
      }
    }

    &.dark {
      width: 171px;
      height: 196px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border: transparent;
        border-radius: 30px;
        background-color: $sub-color2;
      }
    }

    &.hasSearchBar {
      top: 52px;
      width: 347px;
    }
  }
}
