.dropdownContainer {
  position: relative;
  height: 40px;

  .dropdownValueContainer {
    height: 40px;
    border: 1px solid $sub-color1;
    border-radius: 8px;

    .selectedValue {
      width: 89px;
      height: 40px;
      padding: 15px 20px 15px 18px;
      text-align: start;

      @include typo(14);
      @include ellipsis;

      &.dark {
        width: 139px;
      }

      &.hasSearchBar {
        width: 100%;
        height: 47px;
      }
    }

    .toggle {
      position: absolute;
      top: 17px;
      right: 10px;
      width: 15px;
      height: 8px;
      fill: $sub-color3;
      cursor: pointer;

      &.dark {
        right: 15px;
      }
    }

    &.dark {
      width: 139px;
      background-color: $primary-black;
      color: $primary-white;
    }

    &.withSearchBar {
      border: 1px solid $sub-color1;
      border-radius: 8px 0 0 8px;
    }

    &.hasSearchBar {
      width: 348px;
      height: 47px;
      border: none;
      background-color: $sub-color1;
      color: $sub-color5;

      .toggle {
        top: 20px;
        right: 10px;
      }
    }
  }

  .dropdownListWrapper {
    position: absolute;
    z-index: 1;
    top: 47px;
    left: 50%;
    width: 127px;
    padding: 10px;
    transform: translateX(-50%);
    border-radius: 6px;
    background-color: $primary-white;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 11%);

    .select {
      position: relative;
      width: 100%;
      height: 44px;
      border-radius: 8px;
      background-color: $primary-white;

      &:hover {
        background-color: $point-color-blue1;
        color: $point-color-blue3;
      }
    }

    .select input[type="radio"] {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      margin: 0;
      opacity: 0;
      cursor: pointer;
    }

    .select label {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 14px 10px;

      @include ellipsis;

      cursor: pointer;

      @include typo(14);
    }

    .searchBarContainer {
      position: relative;
      margin-bottom: 9px;

      .searchDropdownSearchInput {
        width: 100%;
        height: 30px;
        padding: 11px 25px 11px 12px;

        @include typo(14);

        border: 1px solid $sub-color1;
        border-radius: 6px;

        &::placeholder {
          color: $sub-color5;
        }
      }

      .searchDropdownSearchImage {
        position: absolute;
        top: 8px;
        right: 10px;
      }
    }

    &.dark {
      @include scrollbar(6);

      width: 171px;
      max-height: 196px;
      overflow-y: scroll;
    }

    &.hasSearchBar {
      @include scrollbar(6);

      position: static;
      width: 347px;
      max-height: 294px;
      margin-top: 5px;
      overflow-y: auto;
      transform: translateX(0);
    }
  }

  /* stylelint-disable-next-line scss/dollar-variable-colon-space-after */
  $width-map:
    bright 89px,
    dark 139px,
    withsearchbar 89px,
    hassearchbar 348px;

  @each $class, $width in $width-map {
    &.#{$class} {
      width: $width;

      &.hasSearchBar {
        width: 100%;
      }

      @if $class == hasSearchBar {
        height: auto;
      }
    }
  }
}
