.container {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;

  // background-color: rgb(108 199 199); // 수정하기

  .imageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 319px;
    height: 319px;
    border-radius: 20px;
    background-color: $sub-color1;
  }

  .description {
    @include typo(16);

    color: $sub-color3;
  }
}
