.ellipsis {
  // 셀의 width를 몰라 width를 줄 수 없는 상황에 mixin ellipsis는 작동하지 않아 직접 다른 방식으로 구현
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.artistName {
  @include typo(12);

  .enName {
    color: $sub-color3;
  }
}
