.albumContainer {
  width: 270px;
  height: 342px;
  border: 1px solid $sub-color1;
  border-radius: 8px;
  background-color: $primary-white;
  cursor: pointer;

  .albumContent {
    @include flexbox(row, space-between, center);

    padding: 34px 10px 33px 20px;

    .albumTitle {
      @include typo(14, "bold");
      @include ellipsis;

      width: 195px;
    }
  }
}

.imageBox {
  height: 258px;
  padding: 32px 31px 21px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: $sub-color1;

  .imageContent {
    @include flexbox(row, center, center);

    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    background-color: $primary-white;

    .albumCover {
      object-fit: cover;
      object-position: center;
    }

    /* fill 속성 무시 */
    .default {
      position: static !important;
      width: 65px !important;
      height: 115px !important;
    }
  }
}
