.kebabContent {
  position: relative;

  .kebabButton,
  .kebabIcon {
    display: block;
  }
}

.buttonList {
  width: fit-content;
  padding: 10px;
  border-radius: 6px;
  background-color: $primary-white;
  box-shadow: 0 1px 6px rgb(0 0 0 / 11%);
  cursor: auto;

  .buttonListItem {
    width: fit-content;

    .button {
      @include typo(14);

      width: 107px;
      padding: 13px 10px;
      text-align: start;

      &:hover {
        background-color: $point-color-blue1;
        color: $point-color-blue3;
      }
    }
  }
}
