%section {
  @include flexbox(column);

  width: 100%;
}

.container {
  position: relative;
  width: 806px;

  .checkBoxContainer {
    position: absolute;
    right: 0;
  }

  .trackNameSection {
    @extend %section;

    gap: 32px;
  }

  .trackMemberSection {
    @extend %section;

    position: relative;
    gap: 44px;

    .addBtnContainer {
      position: absolute;
      top: -14px;
      right: 0;
    }
  }

  .divider {
    height: 1px;
    margin-top: 8px;
    margin-bottom: 32px;
    background-color: $sub-color1;
  }

  h2 {
    @include typo(16, bold);
  }

  .inputArea {
    @include flexbox(row, flex-start);

    width: 728px;
    gap: 32px;

    &.trackMember {
      width: 806px;
      gap: 0;
    }

    .artistInputList {
      @include flexbox(column, flex-start, flex-start);

      gap: 6px;
      width: 806px;
      max-height: 306px;
      overflow-y: auto;

      .artistInputRow {
        @include flexbox(row);

        position: relative;
        width: 100%;

        & > div:first-child {
          @include flexbox(row);

          gap: 32px;
          width: 728px;

          .dropdownContainer {
            z-index: 10;
            width: 100%;

            & > span {
              @include typo(14);

              display: block;
              margin-bottom: 10px;
            }

            .dropdownError {
              @include typo(12);

              height: 14px;
              margin: 14px 0 0;
              color: $point-color-red2;
            }
          }

          .commissionRateField {
            width: 100%;

            .commissionRateError {
              @include typo(12);

              margin-top: -10px;
              color: $point-color-red2;
            }
          }
        }
      }
    }
  }

  .deleteBtnContainer {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .checkUnregisteredArtistContainer {
    position: absolute;
    z-index: 20;
    left: 210px;
  }

  .buttonSection {
    @include flexbox(row, center);

    gap: 18px;
  }
}
