$bezier: cubic-bezier(0.4, 0, 0.2, 1);
$float-up: float-up 300ms $bezier;
$float-down: float-down 300ms $bezier;
$fade-in: fade-in 300ms $bezier;
$fade-out: fade-out 300ms $bezier;
$error-type-padding: 40px 55px 42px 55px;
$confirm-type-padding: 40px 55px 50px 55px;
$form-type-padding: 32px;
$albuminfo-type-padding: 32px 32px 50px;

.dialog {
  max-width: calc(100vw + 20px);
  max-height: 100vh;
  margin: auto;
  overflow: hidden;
  background-color: transparent;

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: $primary-white;
  }

  &::backdrop {
    background-color: transparent;
  }

  &[open] {
    .container {
      animation: $fade-in, $float-up;
    }

    .overlay {
      animation: $fade-in;
    }

    &.closing {
      .container {
        animation: $fade-out, $float-down;
      }

      .overlay {
        animation: $fade-out;
      }
    }
  }
}

.overlay {
  @include flexbox(row, center, center);

  width: calc(100vw + 20px);
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0 0 0 / 66%);
}

.container {
  @include scrollbar(15);

  max-width: 90%;
  margin-right: 10px;
  overflow: auto;
  border-radius: 8px;
  background-color: $primary-white;
  /* stylelint-disable-next-line scss/dollar-variable-colon-space-after */
  $modal-type-padding-map:
    "error" $error-type-padding,
    "confirm" $confirm-type-padding,
    "form" $form-type-padding,
    "albumInfo" $albuminfo-type-padding;

  @each $type, $padding in $modal-type-padding-map {
    &.#{$type} {
      padding: $padding;
    }
  }
}

@keyframes float-up {
  from {
    transform: translateY(min(100px, 5vh));
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes float-down {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(min(100px, 5vh));
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
