.topFiveChartContainer {
  width: 590px;
  height: 419px;
  padding: 32px 30px;
  border: 1px solid $sub-color1;
  border-radius: 6px;
  background-color: $primary-white;

  .description {
    @include typo(24, bold);

    margin-bottom: 20px;
  }

  .contentContainer {
    @include flexbox(row, space-between, center);

    .legendContainer {
      display: grid;
      gap: 15px;

      .legendItem {
        display: grid;
        grid-template-columns: 100px 55px 45px;
        align-items: center;
        justify-items: self-start;
        gap: 25px 5px;

        .formattedMoney {
          @include typo(12);
        }
      }
    }
  }
}
