.container {
  position: absolute;
  z-index: 3;
  left: 50%;
  padding: 32px;
  transform: translate(-50%);
  border-radius: 6px;
  background-color: $primary-white;
  box-shadow: 0 1px 6px rgb(0 0 0 / 11%);
}
