.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .sender {
    width: 315px;
    font-size: 16px;
    line-height: 20px;

    .senderNickname {
      font-weight: bold;
    }
  }

  .status {
    display: flex;
    justify-content: space-between;
    width: 102px;
  }
}
