.container {
  @include flexbox(column);

  gap: 50px;

  .title {
    @include typo(16, bold);

    color: $primary-black;
  }

  .contentContainer {
    @include flexbox(row);

    gap: 96px;
    height: 523px;
    padding-left: 46px;

    .albumInfoContainer {
      @include flexbox(column, flex-start, center);

      gap: 32px;

      .textContainer {
        @include flexbox(column, flex-start, center);

        gap: 65px;
        color: $primary-black;

        .albumTitle {
          @include typo(24, bold);
        }

        .artist {
          @include flexbox(column, flex-start, center);

          gap: 8px;

          .name {
            @include typo(16);

            &.enName {
              color: $sub-color3;
            }
          }
        }
      }
    }

    .tableWrapper {
      width: 730px;
    }
  }

  .buttonWrapper {
    margin: 0 auto;
  }
}
