@mixin fixed($top, $left, $right: null, $bottom: null) {
  position: fixed;
  top: $top;
  left: $left;

  @if $right {
    right: $right;
  }

  @if $bottom {
    bottom: $bottom;
  }
}

@mixin flexbox($direction, $justify: false, $align: false) {
  display: flex;
  flex-direction: $direction;

  @if $justify {
    justify-content: $justify;
  }

  @if $align {
    align-items: $align;
  }
}

@mixin typo($size, $weight: regular) {
  font-size: #{$size}px;

  @if $weight == "regular" {
    font-weight: 400;
  } @else if $weight == "bold" {
    font-weight: 600;
  }
}

@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
