/* primary */
$primary-black: #1e1e1e !default;
$primary-white: #fff !default;
$black: #000 !default;

/* sub-color */
$sub-color1: #f3f5f8 !default;
$sub-color2: #edeef0 !default;
$sub-color3: #a3aab6 !default;
$sub-color4: #f8f8f8 !default;
$sub-color5: #a3aab6 !default;

/* point-color-blue */
$point-color-blue1: #f1f6fe !default;
$point-color-blue2: #bfd4f9 !default;
$point-color-blue3: #76a3f2 !default;
$point-color-blue4: #387ffd !default;

/* point-color-red */
$point-color-red1: #ffd8d8 !default;
$point-color-red2: #f00 !default;

/* point-color-green */
$point-color-green1: #caf4d3 !default;
$point-color-green2: #00c02a !default;

/* point-color-extra */
$point-color-extra1: #ffa84a !default;
$point-color-extra2: #fb67ca !default;
$point-color-extra3: #9b88ed !default;
