/* primary */
$primary-black: #1E1E1E !default;
$primary-white: #FFFFFF !default;
$black: #000000 !default;

/* sub-color */
$sub-color1: #F3F5F8 !default;
$sub-color2: #EDEEF0 !default;
$sub-color3: #A3AAB6 !default;
$sub-color4: #F8F8F8 !default;

/* point-color-blue */
$point-color-blue1: #F1F6FE !default;
$point-color-blue2: #BFD4F9 !default;
$point-color-blue3: #76A3F2 !default;
$point-color-blue4: #387FFD !default;

/* point-color-red */
$point-color-red1: #FFD8D8 !default;
$point-color-red2: #FF000F !default;

/* point-color-red */
$point-color-green1: #CAF4D3 !default;
$point-color-green2: #00C02A !default;

/* point-color-extra */
$point-color-extra1: #FFA84A !default;
$point-color-extra2: #FB67CA !default;
$point-color-extra3: #9B88ED !default;
