.asideContainer {
  position: fixed;
  width: 250px;
  height: calc(100vh - 89px);
  padding: 32px 30px 0;
  border: 1px solid $sub-color2;
  background-color: $primary-white;

  .asideItem {
    display: block;
    width: 190px;
    height: 55px;
    padding: 18px 30px;
    border-radius: 0.6px;
    color: $primary-black;
    cursor: pointer;

    &.active {
      border-radius: 6px;
      background-color: $point-color-blue1;
      color: $point-color-blue4;
    }

    &:hover {
      background-color: $point-color-blue1;
      color: $point-color-blue4;
    }
  }
}

.asideContainerMobile {
  display: none;
}

@include mobile {
  .asideContainer {
    display: none;
  }
}

@include mobile {
  .asideContainerMobile {
    display: block;
    position: sticky;
    width: 272px;
    height: 100vh;
    padding: 78px 21px 0 16px;
    border: 1px solid $sub-color2;
    background-color: $primary-white;

    .logoContainer {
      @include flexbox(row, space-between, center);

      margin-bottom: 50px;

      img {
        display: block;
      }

      .close {
        cursor: pointer;
      }
    }

    .asideItem {
      display: block;
      width: 235px;
      height: 55px;
      padding: 18px 30px;
      border-radius: 0.6px;
      cursor: pointer;

      &.active {
        border-radius: 6px;
        background-color: $point-color-blue1;
        color: $point-color-blue4;
      }

      &:hover {
        background-color: $point-color-blue1;
        color: $point-color-blue4;
      }
    }
  }
}
