.asideContainer {
  position: sticky;
  width: 250px;
  padding: 32px 30px;

  .asideItem {
    width: 190px;
    height: 55px;
    padding: 18px 30px;
    border-radius: 0.6px;
    cursor: pointer;

    &:hover {
      border-radius: 6px;
      background-color: $point-color-blue1;
      color: $point-color-blue4;
    }
  }
}
