.wrapper {
  @include flexbox(column);

  gap: 18px;
  width: 286px;
  height: fit-content;
  padding: 30px;
  border: 1px solid $sub-color1;
  border-radius: 8px;
  background-color: $primary-white;

  .title {
    @include typo(16);

    color: $sub-color3;
  }

  .contentWrapper {
    @include flexbox(row, space-between, center);

    gap: 19px;

    .content {
      @include typo(24, bold);
      @include ellipsis;

      max-width: 156px;
      color: $primary-black;
    }
  }
}
