.container {
  width: 455px;
  color: $primary-black;

  .title {
    @include typo(20, bold);
  }

  .passwordContainer {
    width: 100%;
  }

  .buttonWrapper {
    width: fit-content;
    margin: 0 auto;
  }
}
