@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.toastContainer {
  @include fixed(90px, 50%);
  @include flexbox(row, flex-start, center);

  z-index: 100;
  width: 385px;
  height: 71px;
  padding: 6px 20px 6px 8px;
  transform: translateX(-50%);
  border-radius: 6px;
  background: #575757;
  gap: 14.5px;

  .statusBar {
    width: 6px;
    height: 100%;
    border-radius: 3px;

    &.success {
      background-color: $point-color-green2;
    }

    &.fail {
      background-color: $point-color-red2;
    }
  }

  & span {
    @include typo(16);

    z-index: 1000;
    color: $primary-white;
    line-height: 26px;
    text-align: center;
    vertical-align: center;
  }
}

.fadeOut {
  animation: fade-out 0.2s ease-out;
}

.fadeIn {
  animation: fade-in 0.2s ease-in;
}
