@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.toastContainer {
	@include fixed(90px, 50%);
	@include flexbox(row, flex-start, center);

	z-index: 100;
	width: 38.5rem;
	height: 7.1rem;
	padding: 2.7rem 2rem;
	transform: translate(-50%, -50%);
	border-radius: 0.6rem;
	background: #575757;
	gap: 3rem;

	.iconBox {
		position: relative;
		z-index: 1000;
		width: 1.5rem;
		height: 1.7rem;
	}

	& span {
		z-index: 1000 !important;
		color: $primary-white;
		font-size: 1.6rem;
		line-height: 2.6rem;
		text-align: center;
	}
}

.fadeOut {
	animation: fade-out 0.2s ease-out;
}

.fadeIn {
	animation: fade-in 0.2s ease-in;
}
