.container {
  @include flexbox(column);

  width: 1200px;
  margin-bottom: 50px;
  gap: 50px;

  .title {
    @include typo(24, bold);

    color: $primary-black;
  }

  @include mobile {
    width: fit-content;
  }
}
