.wrapper {
  @include flexbox(row, false, center);

  gap: 20px;
  width: fit-content;

  .button {
    &:hover span {
      color: $primary-black;
    }

    &.disabled {
      cursor: default;
      pointer-events: none;
    }
  }

  .number {
    color: $sub-color3;

    @include typo(14);

    &.active {
      color: $primary-black;

      @include typo(14, bold);
    }
  }
}
