.chartContainer {
  width: 590px;
  height: 419px;
  padding: 32px 30px;
  background-color: $primary-white;

  .description {
    @include flexbox(row, space-between, center);

    span {
      display: block;

      @include typo(24, bold);
    }

    .legendContainer {
      @include flexbox(row);

      gap: 26px;
    }
  }

  .chartWrapper {
    width: 100%;
    height: 100%;
  }
}
