.container {
  @include flexbox(row, space-between, center);

  height: 89px;
  padding: 0 30px;
  border: 1px solid $sub-color2;
  background-color: $primary-white;
}

.logo {
  display: block;
}

.rightSide {
  @include flexbox(row, center, center);

  gap: 32px;
}

.notificationSection {
  position: relative;
}

.profile {
  @include flexbox(row, center, center);

  gap: 18px;

  .profileImage {
    border-radius: 70%;
  }

  .profileName {
    @include typo(16);

    border-bottom: 1px solid $primary-black;
    color: $primary-black;
  }
}

@include mobile {
  .container {
    display: none;
  }
}
