.chipBox {
  @include typo(12);

  display: inline-block;
  min-width: 54px;
  height: fit-content;
  padding: 3px 8px;
  border-radius: 100px;
  text-align: center;
}

.increase {
  background-color: $point-color-green1;
  color: $point-color-green2;
}

.decrease {
  background-color: $point-color-red1;
  color: $point-color-red2;
}

.zero {
  background-color: $sub-color2;
  color: $sub-color3;
}
