.chipBox {
  @include typo(12);

  display: inline-block;
  padding: 3px 8px;
  border-radius: 100px;
}

.increase {
  background-color: $point-color-green1;
  color: $point-color-green2;
}

.decrease {
  background-color: $point-color-red1;
  color: $point-color-red2;
}

.same {
  background-color: $sub-color2;
  color: $sub-color3;
}
