.container {
  .sizeLimitText {
    @include typo(12);

    margin-left: 10px;
    color: $sub-color3;
    vertical-align: bottom;
  }

  width: 100%;
  padding: 0 60px;

  .albumInfoContainer {
    width: 728px;
  }
}

.loadingContainer {
  @include flexbox(row, center, center);

  width: 100%;
  height: 808px;
}
