.container {
  overflow: hidden;
  border-radius: 8px;
  outline: 1px solid $sub-color1;
  background-color: $primary-white;

  .tableWrapper {
    overflow: auto;

    @include scrollbar(5);

    .table {
      @include typo(12);

      table-layout: fixed;
      color: $primary-black;

      // 각 셀에 패딩, 배경색 적용
      th,
      td {
        padding-left: 16px;
      }

      th {
        background-color: $sub-color3;
      }

      td {
        padding-top: 16px;
        padding-bottom: 16px;
      }

      th:last-child,
      td:last-child {
        padding-right: 16px;
      }

      // Header or Column sticky 여부에 따른 처리
      &.stickyHeader {
        th {
          position: sticky;
          z-index: 1;
          top: 0;
        }
      }

      &.stickyFirstCol {
        td:first-child {
          background-color: $primary-white;
        }

        th:first-child,
        td:first-child {
          position: sticky;
          z-index: 1;
          left: 0;
        }

        &.showFirstColShadow {
          th:first-child::after,
          td:first-child::after {
            content: "";
            position: absolute;
            top: 0;
            right: -20px;
            bottom: -1px;
            width: 20px;
            box-shadow: inset 15px 0 8px -8px rgb(5 5 5 / 6%);
            pointer-events: none;
          }
        }
      }

      &.stickyLastCol {
        td:last-child {
          background-color: $primary-white;
        }

        th:last-child,
        td:last-child {
          position: sticky;
          z-index: 1;
          right: 0;
        }

        &.showLastColShadow {
          th:last-child::before,
          td:last-child::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: -1px;
            left: -20px;
            width: 20px;
            box-shadow: inset -15px 0 8px -8px rgb(5 5 5 / 6%);
            pointer-events: none;
          }
        }
      }
    }
  }

  .paginationWrapper {
    @include flexbox(row, center, center);

    padding-top: 34px;
    padding-bottom: 34px;
  }
}
