.container {
  width: 100%;
  height: 485px;
  overflow: hidden;
  border-radius: 8px;
  outline: 1px solid $sub-color1;
  background-color: $primary-white;
  text-align: center;

  .header {
    @include flexbox(row, space-around, center);
    @include typo(12);

    padding: 10px 16px;
    background-color: $sub-color3;
    color: $primary-white;
  }

  .description {
    @include typo(16);

    color: $sub-color3;
  }
}
