.container {
  @include flexbox(column);

  width: 100%;
  gap: 44px;

  .titleContainer {
    @include flexbox(row, space-between, center);

    .title {
      @include typo(24, bold);

      color: $primary-black;
    }

    .utilContainer {
      @include flexbox(row, flex-start, center);
    }
  }
}

.ellipsis {
  @include table-ellipsis;
}

.artistName {
  @include typo(12);

  &.enName {
    color: $sub-color3;
  }
}
