.ellipsis {
  @include table-ellipsis;
}

.buttonContainer {
  @include flexbox(row-reverse, flex-start);

  gap: 10px;
}

.input {
  width: 101px;
  padding: 10px 12px;
  border-radius: 6px;
  background-color: $sub-color1;
}
