.content {
  position: fixed;
  z-index: 2;
  transform: translate(-50%);
}

.tooltip {
  @include typo(14);

  width: fit-content;
  max-width: 220px;
  padding: 12px 15px;
  border-radius: 6px;
  background-color: $primary-black;
  color: $primary-white;
  line-height: 18px;
  word-break: break-all;
  white-space: pre-line;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: $primary-black transparent;
  }
}
