.content {
  position: relative;
  width: fit-content;
  margin: 30px; // 지우기
}

.tooltip {
  @include typo(14);

  padding: 7px 10px;
  border-radius: 6px;
  background-color: $primary-black;
  color: $primary-white;
}

.tooltip::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: -7px;
  left: 50%;
  width: 0;
  transform: translateX(-50%);
  border-width: 0 6px 8px 6.5px;
  border-style: solid;
  border-color: $primary-black transparent;
}
