.artboardLayout {
  @include flexbox(row, center);

  width: 1200px;
  padding-top: 32px;
  padding-bottom: 35px;
  border-radius: 8px;
  background-color: $primary-white;

  .content {
    @include flexbox(column);

    gap: 32px;
    width: 850px;
  }
}

.searchBarSection {
  @include flexbox(row, flex-end);
}

.empty {
  margin-top: 62px;
  margin-bottom: 130px;
}
