.container {
  .title {
    @include typo(20, bold);
  }

  .description {
    @include typo(16);

    white-space: pre-line;
  }
}

.confirmButton {
  @include typo(16);

  display: block;
  width: 218px;
  margin: 0 auto;
  padding: 18px 0;
  border-radius: 6px;
  background-color: $primary-black;
  color: $primary-white;
}
